parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @throws with type Psr\\\\SimpleCache\\\\InvalidArgumentException is not subtype of Throwable$#"
			count: 2
			path: src/Environment/Resource/Module/Library/Source.php
