parameters:
	ignoreErrors:
		-
			message: "#^Call to static method minifyController\\(\\) on an unknown class Model_Role_Right\\.$#"
			count: 1
			path: src/Environment/Resource/Acl/Database.php

		-
			message: "#^Instantiated class Model_Role not found\\.$#"
			count: 1
			path: src/Environment/Resource/Acl/Database.php

		-
			message: "#^Instantiated class Model_Role_Right not found\\.$#"
			count: 3
			path: src/Environment/Resource/Acl/Database.php

